.form{
    max-width: 600px;
    display: flex;
    justify-content: space-around;   
    gap: 7px;
}

.form > button{
    padding: 5px 25px;
    background-color: rgb(243, 146, 2);
    border: 2px solid rgb(232, 151, 11);
    border-radius: 7px;
    cursor: pointer;
    color: aliceblue;
    font-weight: 700;
}
.form input{
    border: 2px solid grey;
    border-radius: 7px;
    padding: 5px;
}